<div class="container-fluid position-relative nav-bar p-0">
        <div class="container position-relative" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 display-5 text-white"><span class="text-primary">i</span>DESIGN</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href={% url 'home_page' %} class="nav-item nav-link">Home</a>
                        <a href={% url 'about_page' %} class="nav-item nav-link active">About</a>
                        <a href={% url 'service_page' %} class="nav-item nav-link">Service</a>
                        <a href={% url 'project_page' %} class="nav-item nav-link">Project</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{% url 'blogs_page' %}" class="dropdown-item">Blog Detail</a>
                                <a href="{% url 'blog_grid' %}" class="dropdown-item">Blog Grid</a>
                                {% if not user.is_anonymous %}
                                <a class="dropdown-item" href="{% url 'create_post_page' %}">Add New Post</a>
                                {%endif%}
                            </div>
                        </div>
                        <a href={% url 'contact_page' %} class="nav-item nav-link">Contact</a>
                        {% if user.is_anonymous %}
                        <a href="{% url 'signin_page' %}" class="nav-item nav-link">Sign In</a>
                        <a href="{% url 'login_page' %}" class="nav-item nav-link">Log In</a>
                        {% else %}
                        <a href="/admin/">{{user.username}} class="nav-item nav-link">Admin</a>
                        <a href="{% url 'logout_page' %}" class="nav-item nav-link">Log Out</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
</div>