{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>iDESIGN - Interior Design HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="{% static "img/favicon.ico" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static "rename/flaticon/font/flaticon.css" %}" rel="stylesheet">
    <link href="{% static "rename/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
    <link href="{% static "rename/lightbox/css/lightbox.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
{% include "base/topbar.html" %}
{% block navbar %}
{% include "base/navbar.html" %}
{% endblock navbar %}
{% block under_nav %}
{% include "base/under_nav.html" %}
{% endblock under_nav %}
{% block header %}{% endblock header %}
{% block home %}{% endblock home %}
{% block user %}{% endblock user %}
{% block blog %}{% endblock blog %}
{% block blog_grid %}{% endblock blog_grid %}
{% include "base/footer.html" %}




{% comment %} 
<html>
<button id="myBtn"><a href="#top" style="color: white">Top</a></button>
</html> 
{% endcomment %}




<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="{% static "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "rename/easing/easing.min.js" %}"></script>
<script src="{% static "rename/owlcarousel/owl.carousel.min.js" %}"></script>
<script src="{% static "rename/isotope/isotope.pkgd.min.js" %}"></script>
<script src="{% static "rename/lightbox/js/lightbox.min.js" %}"></script>
<script src="{% static "mail/jqBootstrapValidation.min.js" %}"></script>
<script src="{% static "mail/contact.js" %}" ></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
