{% extends 'base.html' %}
{% load static %}

{% block blog_grid %}

<div class="container-fluid bg-secondary py-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-primary text-uppercase">Our Blog</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary" href="">Home</a>
                        <i class="fas fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">Our Blog</a>
                    </div>
                </div>
            </div>
        </div>
</div>

{% block home %}
{% include "home/blog_start.html" %}
{% endblock home %}
{% endblock blog_grid  %}
